<%= @challenge.title %>
<%= @challenge.description %>

<% if current_user && @challenge.started_by?(current_user)  %>
  <h4>Challenge started</h4>
<% else %>
  <%= link_to 'Start challenge', start_challenge_path(@challenge), method: :post %>
<% end %>
